APP_NAME="Talk Tamila API"
ENVIRONMENT=development
DEBUG=True

DATABASE_URL=mysql+pymysql://your_db_user:your_db_password@your_db_host:your_db_port/your_db_name
SECRET_KEY=your-super-secret-key-change-this-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

HOOTSUITE_CLIENT_ID=
HOOTSUITE_CLIENT_SECRET=
HOOTSUITE_ACCESS_TOKEN=

BASE_URL=http://localhost:8000
